.navbar-inverse {
    color: #ffffff;
}

.nav.navbar-nav.navbar-right {
    margin-top: -6px;
}

.well.incorrect-answer {
    background-color: #4d0000;
}

.list-group-item.correct {
    background-color: #00802b;
    border-color: #00802b;
}

.btn-default.selected {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.content-wrapper {
    padding: 20px;
}

.configure {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.configure-question {
    padding: 10px;
}

@media (min-width: 992px) {
    .configure {
        border-right: 1px solid #cccccc;
        border-bottom: none;
    }
}