<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

        <div class="row configure">
            <div class="col-xs-12 configure-question">
                Number of Questions:
                <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                    <button ng-class="{'active':num==questionsVm.number}" ng-click="questionsVm.updateNumberOfQuestions(num)" ng-repeat="num in questionsVm.numberofQuestions" type="button" class="btn btn-default">
                                        {{num}}
                                </button>
                </div>
            </div>
            <div class="col-xs-12 configure-question">
                Category:
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{questionsVm.selectedCategory.displayName}}
                                        <span class="caret"></span>
                                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li ng-click="questionsVm.updateCategory(category)" ng-repeat="category in questionsVm.categories"><span>{{category.displayName}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 configure-question">
                Difficulty:
                <!--difficulty dropdown -->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{questionsVm.selectedDifficulty.displayName}}
                                    <span class="caret"></span>
                                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li ng-click="questionsVm.updateDifficulty(level)" ng-repeat="level in questionsVm.levels"><span>{{level.displayName}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end menu column -->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9">
        <h2>
            Questions
        </h2>
        <!-- Questions -->
        <div class="well" ng-repeat="q in questionsVm.questions ">
            <div class="row ">
                <div class="col-xs-3 col-sm-2">
                    <span class="fa fa-cogs fa-2x "></span>
                </div>
                <div class="col-xs-9 col-sm-10">
                    Q: <span ng-bind-html="q.question"></span>
                </div>
            </div>
            <div class="row ">
                <ul class="list-group">
                    <li ng-repeat="ans in q.possible_answers " ng-click="questionsVm.selectAnswer(ans, q) " ng-class="{ active : ans.selected, correct: ans.isCorrect && q.graded} " class="list-group-item "><span ng-bind-html="ans.answer"></span></li>
                </ul>
            </div>
        </div>
        <button ng-click="questionsVm.updateQuestions()" type="button" class="btn btn-primary btn-lg">Next Question Set</button>
        <button ng-click="questionsVm.calculateScore()" type="button" class="btn btn-primary btn-lg">Check Answers</button>

    </div>
    <!-- end questions column -->
</div>
<!-- end question row -->